:root {
  /*
   * need to comment this guy out because it looks like in some places, the
   * PostCSS is getting processed at build-time and it doesn't change to the
   * new color --accent, i _think_ a fix would be changing the colors that
   * translate to: rgba(r, g, b, a) to not use the color-mod function
   */
  /* --accent: #FFA86A; */
  --background: color-mod(var(--accent) blend(#1D1E28 98%));
  --color: white;
  --border-color: rgba(255, 255, 255, .1);

  /* variables for js, must be the same as these in @custom-media queries */
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

@custom-media --phone (max-width < 684px);
@custom-media --tablet (max-width < 900px);
